@import "tailwindcss";

@theme {
  /* colors */
  --color-primary-700: #0b0d17;
  --color-primary-600: #616476;
  --color-primary-500: #d0d6f9;

  /* fonts */
  --font-heading: "Bellefair";
  --font-subHeading: "Barlow Condensed";
  --font-paragraph: "Barlow";

  /* font sizes */
  --text-2xl: 9.375rem;
  --text-xl: 6.25rem;
  --text-l: 3.5rem;
  --text-m: 2rem;
  --text-s: 1.75rem;
  --text-xs: 1rem;
  --text-2xs: 0.875rem;
}

.nav-links {
  background: rgba(59, 60, 68, 0.3);
  backdrop-filter: blur(10px);
}

.explore::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  opacity: 0;
  transition:
    opacity 500ms linear,
    transform 750ms ease-in-out;
}

.explore:hover::after,
.explore:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

.home {
  background-image: url("../public/assets/home/background-home-mobile.jpg");
  background-size: cover;
}

.crew {
  background-image: url("../public/assets/crew/background-crew-mobile.jpg");
  background-size: cover;
}

.destination {
  background-image: url("../public/assets/destination/background-destination-mobile.jpg");
  background-size: cover;
}

.technology {
  background-image: url("../public/assets/technology/background-technology-mobile.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .home {
    background-image: url("../public/assets/home/background-home-tablet.jpg");
    background-size: cover;
  }
  .crew {
    background-image: url("../public/assets/crew/background-crew-tablet.jpg");
    background-size: cover;
  }
  .destination {
    background-image: url("../public/assets/destination/background-destination-tablet.jpg");
    background-size: cover;
  }
  .technology {
    background-image: url("../public/assets/technology/background-technology-tablet.jpg");
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .home {
    background-image: url("../public/assets/home/background-home-desktop.jpg");
    background-size: cover;
  }
  .crew {
    background-image: url("../public/assets/crew/background-crew-desktop.jpg");
    background-size: cover;
  }
  .destination {
    background-image: url("../public/assets/destination/background-destination-desktop.jpg");
    background-size: cover;
  }
  .technology {
    background-image: url("../public/assets/technology/background-technology-desktop.jpg");
    background-size: cover;
  }
}
